body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    margin: 0;
    padding: 14px;
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    background-color: #7dffb7;
    border-radius: 5px;
}

li {
    
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #333;
}

li:hover {
    background-color: #30e65d;
    border-radius: 5px;
}

li:active {
    background-color: #2fac4e;
    border-radius: 5px;
}

#lvll {
    background-color: #32be78;
    border-radius: 5px;
}

#lvla {
    color: #ffffff;
}

input {
    width: 20%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

#ex {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset;
    margin-bottom: 10px;
}

.btn_ex {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
}

.btn_submit {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    cursor: pointer;
}

.btn_submit:hover {
    background-color: #b3ffc6;
    border-radius: 5px;
    transition-duration: 500ms;
}