<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level 1</title>
    <link rel="stylesheet" th:href="@{lvl.css}">
</head>
<body>
    <h1>All JavaCore Exercise with Spring boot</h1>
    <ul>
        <li><a href="/lvl1">Level 1</a></li>
        <li id="lvll"><a href="/lvl2" id="lvla">Level 2</a></li>
        <li><a href="/lvl3">Level 3</a></li>
        <li><a href="/lvl4">Level 4</a></li>
    </ul>
    <br>
    <div>
        <h2>Exercise 1</h2>
        <div id="ex">
            
        </div>

    </div>
</body>
</html>
</html>