<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Level 1</title>
    <link rel="stylesheet" th:href="@{lvl.css}">
</head>
<body>
    <h1>All JavaCore Exercise with Spring boot</h1>
    <ul>
        <li><a href="/lvl1">Level 1</a></li>
        <li><a href="/lvl2">Level 2</a></li>
        <li id="lvll"><a href="/lvl3" id="lvla">Level 3</a></li>
        <li><a href="/lvl4">Level 4</a></li>
    </ul>
    <br>
    <div>
        <h2>Exercise 1</h2>
        <div id="1" display="none">
            <form action="/lvl1/1" method="post" modelAttribute="ex1">
                <p>Num 1 <input type="number" name="num1"></p>
                <p>Num 2 <input type="number" name="num2"></p>
                <input type="submit" value="Submit">
            </form>
        </div>

        <div id="2" display="none">

        </div>

        <div id="3" display="none">

        </div>

        <div id="4" display="none">

        </div>

        <div id="5" display="none">

        </div>

        <div id="6" display="none">

        </div>

        <div id="7" display="none">

        </div>

        <div id="8" display="none">

        </div>

        <div id="9" display="none">

        </div>

        <div id="10" display="none">

        </div>

    </div>
</body>
</html>
</html>